<%- include('header'); -%>

<h1 class="spotlight">SPOTLIGHT</h1>

<div class="overview">

    <div class="grid-item-detail <%=blog[0].classes%>"><img src="<%=blog[0].img%>" alt="<%=blog[0].alt%>"></img><h1 class="detailtitle"><%=blog[0].title%></h1><p class="detaildescription"><%=blog[0].detail%></p><p class="date"><%=blog[0].date%></p></div>

</div>




<%- include('footer'); -%>
