<%- include('header'); -%>

<main>
<h2 class="h2welcome">WELCOME TO THE MUSIC MUSEUM</h2>

<div class="overview">

    <div class="grid-item-overview <%=blog[0].classes%>"><img src="<%=blog[0].img%>" alt="<%=blog[0].alt%>"></img></div>

    <div class="grid-item-overview <%=blog[1].classes%>"><img src="<%=blog[1].img%>" alt="<%=blog[0].alt%>"></img></div>

    <div class="grid-item-overview <%=blog[2].classes%>"><img src="<%=blog[2].img%>" alt="<%=blog[2].alt%>"></img></div>


    <a class="seemore" href="/portfolio">SEE MORE</a>

</div>
</main>



<%- include('footer'); -%>
